@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(208, 255, 138);
}

#pridani-odebrani-produktu {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


